@model MrFixIt.Models.Job

<script type="text/javascript">
    $('.complete').submit(function (event) {
        event.preventDefault();
        $.ajax({
            data: { id: $(this).val() },
            url: '@Url.Action("Complete")',
            type: 'POST',
            success: function (result) {
                $('#job-status').html(result);
            }
        });
    });
</script>

<h2>Would you like to mark this job as complete?</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.JobId)
    @Html.HiddenFor(model => model.Title)
    @Html.HiddenFor(model => model.Description)

    <h4>@Model.Title</h4>
    <form>
        <button type="submit" class="complete" value="Model.JobId">Complete</button>
    </form>
    <div id="job-status"> </div>
}
<p>@Html.ActionLink("Back to list", "Index")</p>