@{
    ViewData["Title"] = "Create Job";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model MrFixIt.Models.Job
@if (User.Identity.IsAuthenticated)
{
    <h2>Create a new Job</h2>
    @using (Html.BeginForm())
    {
        @Html.LabelFor(model => model.Title)
        @Html.TextBoxFor(model => model.Title, new { @required = "true" })
        @Html.LabelFor(model => model.Description)
        @Html.TextBoxFor(model => model.Description, new { @required = "true" })
        <input type="submit" value="Add new job" />
    }
    <p>@Html.ActionLink("Back to list", "Index")</p>
}
else
{
    <p>You are not currently logged in.</p>
    <p>@Html.ActionLink("Log In to my account", "Log In", "Account") |
    @Html.ActionLink("Register a new account", "Register", "Account")</p>
}