@model MrFixIt.Models.Job
@{
    ViewData["Title"] = "Job Listing - Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Are you sure you want to Delete this Job Listing?</h2>


@Html.DisplayNameFor(model => model.Title) : @Html.DisplayFor(model => model.Title)
@Html.DisplayNameFor(model => model.Description) : @Html.DisplayFor(model => model.Description)
@Html.DisplayNameFor(model => model.Pending) : @Html.DisplayFor(model => model.Pending)
@Html.DisplayNameFor(model => model.Completed) : @Html.DisplayFor(model => model.Completed)




@using (Html.BeginForm())
{
    <input type="submit" value="Delete" />
}

<p>@Html.ActionLink("Back to home", "Index")</p>