@{
    ViewData["Title"] = "Job Listing - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MrFixIt.Models.Job

<h2>Job Details</h2>
<hr />
<p>@Html.DisplayFor(model => model.Title)</p> 
<p>@Html.DisplayFor(model => model.Description)</p>
@if (Model.Worker != null)
{

    @if (User.Identity.Name == Model.Worker.UserName)
    {
        <p>You have claimed this job.</p>

        @using (Html.BeginForm())
        {
            <h5>Job Status</h5>
            <p>Pending</p>
            <input type="button" class="pending" />
            <div id="job-pending"></div>

            <p>Completed</p>
            <input type="button" class="complete"/>
            <div id=job-status></div>
        }
    }
    else
    {
        <li>This Job is claimed by @Model.Worker.FirstName @Model.Worker.LastName</li>
    }
}
else
{
    @using (Html.BeginForm())
    {
        <p>This job is unclaimed</p>
        @if (User.Identity.IsAuthenticated)
        {
            <input type="submit" value="claim" />
            <div id="claim-status"></div>
        }
    }
}
<p>@Html.ActionLink("Edit", "Edit", new { id = Model.JobId }) | @Html.ActionLink("Delete", "Delete", new { id = Model.JobId }) | @Html.ActionLink("Back to List", "Index")</p>