@{
    ViewData["Title"] = "Job Listing - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MrFixIt.Models.Job

<h2>Job Details</h2>
<hr />
<p>@Html.DisplayFor(model => model.Title)</p> 
<p>@Html.DisplayFor(model => model.Description)</p>
@if (Model.Worker != null)
{

    @if (User.Identity.Name == Model.Worker.UserName)
    {
        <p>You have claimed this job.</p>

        @using (Html.BeginForm())
        {
            <h5>Job Status</h5>
            <form action="Pending" class="pending">
                @Html.HiddenFor(model => model.JobId)
                <p>Pending</p>
                <div id="job-pending"> </div>
                <button class="submit">Mark Pending</button>
            </form>
            <form action="Complete" class="complete">
                @Html.HiddenFor(model => model.JobId)
                <p>Completed</p>
                <div id=job-status> </div>
                <button class="submit">Mark Complete</button>
            </form>
        }
    }
    else
    {
        <li>This Job is claimed by @Model.Worker.FirstName @Model.Worker.LastName</li>
    }
}
else
{
    @using (Html.BeginForm())
    {
        <p>This job is unclaimed</p>
        @if (User.Identity.IsAuthenticated)
        {
            <form>
                @Html.HiddenFor(model => model.JobId)
                <button class="claim">Claim</button>
            </form>
            <div id="claim-status"> </div>
        }
    }
}
<p>@Html.ActionLink("Edit", "Edit", new { id = Model.JobId }) | @Html.ActionLink("Delete", "Delete", new { id = Model.JobId }) | @Html.ActionLink("Back to List", "Index")</p>