@{
    ViewData["Title"] = "Job Listing - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MrFixIt.Models.Job

<h2>Job Details</h2>
<hr />
<p>@Html.DisplayFor(model => model.Title)</p> 
<p>@Html.DisplayFor(model => model.Description)</p>
@if (Model.Worker != null)
{

    @if (User.Identity.Name == Model.Worker.UserName)
    {
        <p>You have claimed this job.</p>

        @using (Html.BeginForm())
        {
            <h5>Job Status</h5>
            <p>Pending</p>
            @if (Model.Pending == true)
            {
                <p>This job is in progress by @Model.Worker.FirstName @Model.Worker.LastName</p>
            }
            else
            {
                <p>This job is not yet in progress</p>
            }
            @Html.ActionLink("Mark this job as pending", "Pending", "Jobs", new { id = Model.JobId })
            <p>Status</p>
            @if (Model.Completed == true)
            {
                <p>This job has been completed by @Model.Worker.FirstName @Model.Worker.LastName</p>
            }
            else
            {
                <p>This job has not yet been completed.</p>
            }
            @Html.ActionLink("Mark this job complete", "Complete", "Jobs", new { id = Model.JobId })
        }
    }
    else
    {
        <li>This Job is claimed by @Model.Worker.FirstName @Model.Worker.LastName</li>
    }
}
else
{
    @using (Html.BeginForm())
    {
        <p>This job is unclaimed</p>
        @if (User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Claim this Job", "Claim", new { id = Model.JobId })
            <div id="claim-status"> </div>
        }
    }
}
<p>@Html.ActionLink("Edit", "Edit", new { id = Model.JobId }) | @Html.ActionLink("Delete", "Delete", new { id = Model.JobId }) | @Html.ActionLink("Back to List", "Index")</p>