@model MrFixIt.Models.Job
@{
    ViewData["Title"] = "Job Listing - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Job Details</h2>
<hr />
<p>@Html.DisplayFor(model => model.Title)</p> 
<p>@Html.DisplayFor(model => model.Description)</p>
<p>@Html.DisplayNameFor(model => model.Pending)</p>
<p>@Html.DisplayFor(model => model.Completed)</p>

@if (Model.Worker == null)
{
    <li class="claim-job">This job is unclaimed.</li>
}
else
{
    @if (User.Identity.Name == Model.Worker.FirstName + " " + Model.Worker.LastName)
                {
        <li class="unclaim-job">You have claimed this Job</li>
    }
    else
    {
        <li>This Job is claimed by @Model.Worker.FirstName @Model.Worker.LastName</li>
    }
}

<p>@Html.ActionLink("Edit", "Edit", new { id = Model.JobId }) | @Html.ActionLink("Delete", "Delete", new { id = Model.JobId }) | @Html.ActionLink("Back to List", "Index")</p>