@{
    ViewData["Title"] = "Job Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Our Current Jobs</h3>
@foreach (var Job in Model)
{
    <ul>
        <li>@Job.Title</li>
        <li>@Job.Description</li>
        @if (Job.Worker == null)
        {
            <li class="unclaimed">
                This job is unclaimed
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink("Claim this Job", "Claim", new { id = Job.JobId })
                }
            </li>
        }
        else
        {
                @if (User.Identity.Name == Job.Worker.FirstName + Job.Worker.LastName)
                {
                    <li class="claimed">
                        You have claimed this Job @Html.ActionLink("Mark Complete", "Complete");
                    </li> 
                }
                else
                {
                    <li class="claimed">This Job is claimed by @Job.Worker.FirstName @Job.Worker.LastName</li>
                }
        }
        @if (User.Identity.IsAuthenticated)
        {
            <li>
                <p>@Html.ActionLink("View this Listing", "Details", new { id = Job.JobId })</p>
            </li>
        }
    </ul>
}
@if (User.Identity.IsAuthenticated)
{
    <div>
        @Html.ActionLink("Add a new job", "Create")
    </div>

}
else
{
    <p>You are not currently logged in.</p>
    <p>
        @Html.ActionLink("Log In to an existing account", "Log In", "Account") |
        @Html.ActionLink("Register a new account", "Register", "Account")
    </p>
}



@*Html.ActionLink("Claim This Job", "Claim", new { @text = @Job.Title, id = Job.JobId })*@
@*<li class="claim-job">
        This job is unclaimed.
        <div id="status"></div>
    </li>*@