@{
    ViewData["Title"] = "Job Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $('.claim').submit(function (event) {
        event.preventDefault;
        $.ajax({
            url: '@Url.Action("Claim")',
            type: 'GET',
            data: { id: $(this).serialize() },
            success: function (result) {
                $('#claim-status').html(result);
            }
        });
    });
</script>

<h3>Our Current Jobs</h3>
@foreach (var Job in Model)
{
    <ul>
        <li>
            <h4>@Job.Title</h4>
            <p>@Job.Description</p>
                @Html.ActionLink("View this Listing", "Details", new { id = Job.JobId })
            <div class="claim-status">
                @if (User.Identity.IsAuthenticated && Job.Worker == null)
                {
                    <p class="unclaimed">
                        This job is unclaimed
                        @Html.ActionLink("Claim this Job", "Claim", new { id = Job.JobId })
                    </p>
                }
                else
                {
                    @if (User.Identity.Name == Job.Worker.FirstName + Job.Worker.LastName)
                    {
                        <p class="claimed">
                            You have claimed this Job;
                        </p> 
                    }
                    else
                    {
                        <p class="claimed">
                            This Job is claimed by @Job.Worker.FirstName @Job.Worker.LastName
                        </p>
                    }
                }
            </div>
        </li>
    </ul>
}
@if (User.Identity.IsAuthenticated)
{
    <div>
        @Html.ActionLink("Add a new job", "Create")
    </div>

}
else
{
    <p>You are not currently logged in.</p>
    <p>
        @Html.ActionLink("Log In to an existing account", "Log In", "Account") |
        @Html.ActionLink("Register a new account", "Register", "Account")
    </p>
}