@model MrFixIt.Models.Job



<h2>Would you like to mark this job as pending?</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.JobId)
    @Html.HiddenFor(model => model.Title)
    @Html.HiddenFor(model => model.Description)

    <h4>@Model.Title</h4>
    <form>
        <button type="submit" class="pending" value="Model.JobId">In Progress</button>
    </form>
    <div id="job-pending"> </div>
}
<p>@Html.ActionLink("Back to list", "Index")</p>