@model MrFixIt.Models.Worker
@{
    ViewData["Title"] = "Worker Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.Identity.IsAuthenticated)
{

    <div>
        @if (Model != null)
        {
            <h4>Hello Worker @Model.FirstName @Model.LastName. You are Logged In</h4>
            <h3>Your Current Jobs:</h3>
            @if (Model.Available)
            {
                <h2>Please @Html.ActionLink("select a job", "Index", "Jobs").</h2>
            }
            else
            {
                <p>You are already assigned to a job:</p>
                @foreach (var Job in Model.Jobs)
                {
                    <h5>@Job.Title</h5>
                }
            }
            <p>@Html.ActionLink("View your Profile", "Details", new { id = Model.WorkerId }) | @Html.ActionLink("Edit your Profile", "Edit", new { id = Model.WorkerId }) | @Html.ActionLink("Delete your Profile", "Delete", new { id = Model.WorkerId })</p>
            
        }
        else
        {
            <h4>Hello @User.Identity.Name. You are Logged In</h4>
            @Html.ActionLink("Create a Worker Profile", "Create", "Workers")
        }
    </div>
}
